<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>log</display-name>
  <filter>
    <display-name>LangFilter</display-name>
    <filter-name>LangFilter</filter-name>
    <filter-class>com.filter.LangFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LangFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Luncher</display-name>
    <servlet-name>Luncher</servlet-name>
    <servlet-class>com.servlet.Luncher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Luncher</servlet-name>
    <url-pattern>/Luncher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentGenerator</display-name>
    <servlet-name>ComponentGenerator</servlet-name>
    <servlet-class>com.servlet.ComponentGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentGenerator</servlet-name>
    <url-pattern>/ComponentGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataExecuter</display-name>
    <servlet-name>DataExecuter</servlet-name>
    <servlet-class>com.servlet.DataExecuter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataExecuter</servlet-name>
    <url-pattern>/DataExecuter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginExecuter</display-name>
    <servlet-name>LoginExecuter</servlet-name>
    <servlet-class>com.servlet.LoginExecuter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginExecuter</servlet-name>
    <url-pattern>/LoginExecuter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FillLov</display-name>
    <servlet-name>FillLov</servlet-name>
    <servlet-class>com.servlet.FillLov</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FillLov</servlet-name>
    <url-pattern>/FillLov</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpressionServlet</display-name>
    <servlet-name>ExpressionServlet</servlet-name>
    <servlet-class>com.servlet.ExpressionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpressionServlet</servlet-name>
    <url-pattern>/ExpressionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyPayment</display-name>
    <servlet-name>DailyPayment</servlet-name>
    <servlet-class>com.servlet.business.DailyPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyPayment</servlet-name>
    <url-pattern>/DailyPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessServlet</display-name>
    <servlet-name>BusinessServlet</servlet-name>
    <servlet-class>com.servlet.BusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessServlet</servlet-name>
    <url-pattern>/BusinessServlet</url-pattern>
  </servlet-mapping>
</web-app>